@import 'colors';

header {
  justify-content: space-between;
  height: 180px;
  border-bottom: $border;
  margin: 5px;

  .home {
    width: 160px;
    height: 160px;

    .home-logo {
      height: 95%;
      width: 95%;
      background-image: image-url("logo.svg");
      background-size: cover;
    }
  }
  .nav {
    align-items:center;

    & > * {
      min-width: 130px;
    }
  }
}

footer {
  height: 120px;

  .footer-content {
    height: 70px;
    border-top: $border;

  }
}
