@import 'reset';
@import 'colors';
@import 'header-footer';

body {
  background-color: $bcg;
  color: $dark-blue;
  font-family: georgia;
  height: 100vh;
}

img {
  width: 250px;
}

.section-title {
  text-decoration: underline;
  font-size: 23px;
  text-align: center;
}

.box {
  // background-color: red;
  width:350px;
  height:350px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.section {
  height:60vh;
  border-bottom: $border;
}

.welcome {
  line-height: 70px;
  display: flex;
  justify-content: center;
  align-self: center;

  h1 {
    font-size: 52px;
  }

  p {
    font-size: 30px;
  }
}
.about {

}

.team {

}

.places {

}

.approach-card {
  width: 300px;

}
.reinsurance {
  ul {
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 350px;
      min-height: 80px;
      padding: 0 10px;
      font-size: 1rem;
      line-height: 17px;
      text-align: center;
    }
  }
}




