<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='description' content="Landing content">
    
    <meta name="robots" content="index, follow">
    <meta name="author" content="Landing">

    <meta property="og:description" content="Landing content">
    <meta property="og:image" content="image-url('logo.svg')">
    <meta property="og:title" content="<%= current_page.data.title || "Landing" %>">
    
    <link rel="shortcut icon" href="./images/logo_favicon.png" type="image/png" sizes="32x32">
    <link rel="icon" href="./images/logo_favicon.png" type="image/png" sizes="32x32">
    
    <title><%= current_page.data.title || "Landing" %></title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <div class="container">
      <%= partial "header" %>
      <%= yield %>
      <%= partial "footer" %>
    </div>
  </body>
</html>
