<footer class="mb-5">
  <div class="footer-content d-flex justify-content-center align-items-center align-self-center text-center">
    <p class="">
      Pour nous contacter par mail: <a href="mailto:contact@likeababy.fr">contact@likeababy.fr</a> 
    </p>
  </div>
</footer>