<header class="d-flex justify-content-center my-5">
  <div class="home d-flex flex-column justify-content-center align-items-center">
    <%= link_to '', '/index.html', class: 'home-logo' %>
  </div>
</header>